<div class="row">
  <div class="col-md-12">
    <% flash.each do |type, msg| %>
      <% if type == "notice" %>
        <div class="alert alert-info">
      <% elsif type == "alert" %>
        <div class="alert alert-danger">
      <% else %>
        <div class='alert alert-<%= "#{type}" %>'>
      <% end %>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= msg %>
      </ul>
    <% end %>
  </div>
</div>